@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@import url('./fonts.css');

.alertResolution {
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content : center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: red; /* Use a better color */
    font-family: '8bitOperatorPlusBold';
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 2vw;
}

@media screen and (max-width: 500px){
    .alertResolution { display: flex;}
    .alertResolution:before {
        content: "Ainda não há suporte para mobile!";
    }
    #content{
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    html, body, #content, .ant-layout {
        height: 100%;
        font-size: 7px;
    }
}

@media screen and (max-width: 1366 px) {
    html, body, #content, .ant-layout {
        height: 100%;
        font-size: 6px;
    }
}

@media screen and (max-width: 1920 px) {
    html, body, #content, .ant-layout {
        height: 100%;
        font-size: 4px;
    }
}