.container {
    height:100vh !important;
}

.title{
    font-family: 'Lato Light';
    font-size: 1.5em;
}

.contentCad{
    background-color: #FFF !important;
    text-align: center;
}

.cardCenter{
    position: relative;
    margin-top: 5vh;
}

.footerCad{
    font-family: 'Lato Light';
    font-size: 1.4em;
    background-color: #000 !important;
    color:#EDF2F4 !important;
    text-align: center;
}

.cardGuia{
    font-family: 'Lato Light';
    margin: 1.5em 0 1.5em 0;
}

.hoverRow:hover{
    background-color: #007df2;
    color: #fff;
}