.container {
    height:100vh !important;
}

.header{
    background-color: #EDF2F4;
}

.contentCad{
    background-color: #FFF !important;
    text-align: center;
}

.cardCenter{
    position: relative;
    margin-top: 9%;
}

.title{
    margin: 5em 0 5em 0;
}

.subTitle{
    font-size: 1.1em;
}

.subTitleRow{
    padding: 1.5em;
}

.title p, .titleExpire{
    text-align: center;
    color:#EDF2F4;
}

.footerCad{
    background-color: #000 !important;
    color:#EDF2F4 !important;
    text-align: center;
}

.formCard{
    padding-top: 1em;
    width: 80%;
    background-color: #EDF2F4;
    height: 100%;
    border:none;
}

.cadButton{
    background-color: #007DF2;
    color:#EDF2F4;
}

.form{
    padding: 5em 0 3em 0;
}

.ant-form .ant-row:last-child{
    padding-top: 5em;
}

.ant-form-explain{
    font-size: 1.6em;
    font-family: 'Lato Regular' !important;
}

.socialIcons > span{
    margin: 1em;
}

.ant-confirm-title, .ant-confirm-content{
    font-size: 1.4em !important;
    font-family: 'Lato Regular' !important;
}

.titleExpire{
    margin: 23em 0 20.3em 0
}

.link-around{
    margin : 10px;
}

.link{
    font-size: 2.0em !important;
    font-family: 'Lato Regular' !important;
    color:#000 !important;
}

.teamAccessLabel{
    margin: 35px;
}

.teamAccessInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnAccess{
    margin: 35px;
}

.registerBorder{
    border: solid;
    border-radius: 10px;
    border-color: #E5E4E5;
}