.teamLimit .ant-modal-content .ant-btn-primary {
    display: none;
}

.iconSizeCard{
    font-size: 2.4em !important;
    cursor: pointer;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.questionColumn{
    justify-content: flex-start;
    margin: 20px;
    width: 20%;
    text-align: center;
}

.ant-upload.ant-upload-select-picture-card{
    width: 16em !important;
    height: 16em !important;
}

.questionRow{
    margin: 30px 0 30px 0;
    background-color: #D7D66A;
    border-radius: 20px;
    font-weight: bold;
}

.ant-form .ant-row:last-child{
    padding: 0 !important;
}

.orange div:first-child{
    background-color: #ffe7c4 !important
}

.green div:first-child{
    background-color: #caffba !important
}

.red div:first-child{
    background-color: #f9d4d4 !important
}

.teamFormColumn{
    justify-content: flex-start !important;
}